{% extends "ru_layout.html" %}

{% block content %}
<div id="app">


<div class="main main-raised">
  <div class="container">
      <img style="float:top" class="img-fluid rounded mx-auto d-block" src="{{url_for('static', filename='img/hirecar_logo.png')}}" alt="Бронирование автомобиля в Израиле по лучшей онлайн цене"  />
<hr />
    <div class="section text-left">
      <h1>Vastama - агенство по аренде прокату автомобилей в Израиле</h1>
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="Бронирование автомобиля в Израиле по лучшей онлайн цене" width="20" height="20" /> Бронирование автомобиля в Израиле по лучшей онлайн цене	(до 40% экономии при сравнении с заказом в отделении компании)
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="Аренда авто без предоплаты" width="20" height="20" /> Аренда авто без предоплаты (оплата производится при возврате автомобиля и можно наличными)
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="Бесплатная консультация и помощь" width="20" height="20" /> Бесплатная консультация и помощь по бронированию автомобиля в Израиле на русском языке
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="Безлимитный километраж при заказе 3-29 дней" width="20" height="20" /> Безлимитный километраж при заказе 3-29 дней
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="Отделения по аренде прокату автомобилей во всех крупных городах Израиля" width="20" height="20" /> Отделения по аренде прокату автомобилей во всех крупных городах Израиля
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="Огромные скидки при бронировании автомобиля на 30+ дней" width="20" height="20" /> Огромные скидки при бронировании автомобиля на 30+ дней
  <br><img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/checkmark.png')}}" alt="WhatsApp/Viber +972-58-771-0101" width="20" height="20" /> Напишите нам на <a style="font-family: Times, serif; color:red">WhatsApp/Viber +972-58-771-0101</a> и наш менеджер вернется к вам с лучшим предложением
	</div>
<hr />
Возраст водителя (если водителей несколько то возраст самого младшего):
    <input type="radio" id="21" value="21" v-model="driver_age">
    <label for="21">21-22</label>
    <input type="radio" id="23" value="23" v-model="driver_age">
    <label for="23">23-24</label>
      <input type="radio" id="25" value="25" v-model="driver_age">
    <label for="25">25+</label>
      <input type="radio" id="28" value="28" v-model="driver_age">
    <label for="28">28+</label>
    <!--<span>Выбрано: [[ driver_age ]]</span> -->
<br>
      Стаж вождения (если водителей несколько то возраст самого младшего):
    <input type="radio" id="1" value="1" v-model="driver_licence">
    <label for="1">1-2</label>
    <input type="radio" id="3" value="3" v-model="driver_licence">
    <label for="3">3+</label>
    <!--<span>Выбрано: [[ driver_licence ]]</span> -->
<br>
      Турист(есть вкладыш с визой В2\В3)
    <input type="checkbox" id="visa" v-model="visa">
      <br>
        <small v-if="visa"> <alert-box>
        Для отмены НДС вам нужно будет при получении машины предоставить визу В2\В3 которую вам поставят по прилете
        </alert-box></small>
        <small v-else="visa"> <alert-box>
        НДС по закону добавляется к заказу для всех клиентов кроме предоставивших при заказе визу В2\В3
        </alert-box></small>
<!--<label for="visa">[[ visa ]]</label> -->
      <br>
      Есть кредитная карта покрывающая обязательную страховку
    <input type="checkbox" id="cred_insurance_decline" v-model="cred_insurance_decline">
      <br>
    <small v-if="cred_insurance_decline"> <alert-box>
            Обязательные страховки будут покрыты вашей кредитной картой. Потребуются подтвеждения от кредитной компании
        </alert-box></small>
        <small v-else="cred_insurance_decline"> <alert-box>
            Большинство кредитных карт не включают покрытие страховок на территоррии Израиле - не уверены напишите нам на ватсап +972-58-7710101 и наш сотрудник свяжется с вами и проверит
        </alert-box></small>

      <hr />
</div>
</div>

{{ message }}
    <div class="container">
    <div class="card-columns text-center">

        <div v-if="cred_insurance_decline">
    {% for k in range(0,pl_size)  %}
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 id="{{ pl[k].get("Car Group") }}" class="my-0 font-weight-normal"><input type="radio" value="{{ pl[k].get("Vehicle Type")  }} " id="car" v-model="car"> {{ pl[k].get("Vehicle Type")  }}  <br><small class="text-muted">или подобный <br>от <span class="badge badge-success">{{ pl[k].get("Ex. Day (8+)Low")  }} </span> USD/день</small><small v-if="visa"></small><small class="text-muted" v-else="visa"> + НДС</small></h4></div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="text-left">Категория: {{ pl[k].get("Car Group")  }}  | Сидений: {{ pl[k].get("Seats")  }} </li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="Увеличенный километраж при заказе 1-2 дней(250км в день уже включены в цену)"> Увеличенный километраж при заказе 1-2 дней(250км в день уже включены в цену)</li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="Обязательные страховки НЕ включены в цену(покрытие кредитной картой)"> Обязательные страховки НЕ включены в цену(покрытие кредитной картой)</li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="Безлимитный километраж при заказе 3-29 дней<"> Безлимитный километраж при заказе 3-29 дней</li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="При заказе 30+ дней от {{ pl[k].get("Month (30+)Low")  }} "> При заказе 30+ дней от <span class="badge badge-danger">{{ pl[k].get("Month (30+)Low")  }} </span>USD в месяц(в цену включены обязательные страховки и 150км\день)</li>
                            <li><img class="img-fluid" src="http://www.hirecar.xyz/static/img/CarCategories/{{pl[k].get("Car Group")}}.jpg" alt="аренда авто {{ pl[k].get("Vehicle Type")  }}  или подобный в Израиле" /> </li>
                            <li><!-- <br>
                                <img style="float:left" class="img-responsive" src="http://www.hirecar.xyz/static/img/{{ range(4, 6) | random }}.png" alt="Рэйтинг. Аренда авто {{ pl[k].get("Vehicle Type")  }} или подобный в Израиле"  />
                                <img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/star.png')}}" alt="Рэйтинг. Аренда авто {{ pl[k].get("Vehicle Type")  }}  или подобный в Израиле"  />
                                    из {{ range(265, 387) | random }} на {{ now.strftime("%A %d. %B %Y") }}
                            </li> -->
                    </ul>
            </div>
        </div>
    {% endfor %}
    </div>
    <div v-else="cred_insurance_decline">
    {% for k in range(0,pl_size)  %}
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 id="{{ pl[k].get("Car Group") }}" class="my-0 font-weight-normal"><input type="radio" value="{{ pl[k].get("Vehicle Type")  }} " id="car" v-model="car"> {{ pl[k].get("Vehicle Type")  }}  <br><small class="text-muted">или подобный <br>от <span class="badge badge-success">{{ pl[k].get("Ex. Day (8+)Low") + pl[k].get("CDW") + pl[k].get("TP")  }} </span> USD/день</small><small v-if="visa"></small><small class="text-muted" v-else="visa"> + НДС</small></h4></div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="text-left">Категория: {{ pl[k].get("Car Group")  }}  | Сидений: {{ pl[k].get("Seats")  }} </li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="Увеличенный километраж при заказе 1-2 дней(250км в день уже включены в цену)"> Увеличенный километраж при заказе 1-2 дней(250км в день уже включены в цену)</li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="Обязательные страховки уже включены в цену"> Обязательные страховки уже включены в цену</li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="Безлимитный километраж при заказе 3-29 дней"> Безлимитный километраж при заказе 3-29 дней</li>
                            <li class="text-left"><img src="{{url_for('static', filename='img/star.png')}}" alt="При заказе 30+ дней от {{ pl[k].get("Month (30+)Low")  }} "> При заказе 30+ дней от <span class="badge badge-danger">{{ pl[k].get("Month (30+)Low")  }} </span>USD в месяц(в цену включены обязательные страховки и 150км\день)</li>
                            <li><img class="img-fluid" src="http://www.hirecar.xyz/static/img/CarCategories/{{pl[k].get("Car Group")}}.jpg" alt="аренда авто {{ pl[k].get("Vehicle Type")  }}  или подобный в Израиле" /> </li>
                            <li><!--<br>
                                <img style="float:left" class="img-responsive" src="http://www.hirecar.xyz/static/img/{{ range(4, 6) | random }}.png" alt="Рэйтинг. Аренда авто {{ pl[k].get("Vehicle Type")  }} или подобный в Израиле"  />
                                 <img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/star.png')}}" alt="Рэйтинг. Аренда авто {{ pl[k].get("Vehicle Type")  }}  или подобный в Израиле"  />
                                    из {{ range(265, 387) | random }} на {{ now.strftime("%A %d. %B %Y") }} -->
                            </li>
                    </ul>
            </div>
        </div>
    {% endfor %}
    </div>

    </div>
    </div>



<div class="container">

* Аренда (1-2 дня)  -  включает 250км в день
<br>* Аренда (3-29 дней) и понедельная - безлимитный километраж
<br>* Сумма помесячной аренды(30+ дней) -  включает обязательные страховки и 150км в день
<br>* Все цены указанны на сайте в : USD $  <hr />
</div>



    </div>



{% endblock %}

{% block scripts %}
    <script>
      var app = new Vue({
          el: '#app',
          delimiters: [ '[[', ']]' ],
          data: {
              title: "HireCar.xyz",
              driver_licence: '',
              driver_age: '',
              visa: '',
              cred_insurance_decline: '',
              car: '',
              supercdw: '',
              supertp: ''
          }
      })
  </script>

{% endblock %}