{% extends "ru_layout.html" %}

{% block content %}
    {% for k in range(0,pl_size)  %}

    <div class="card-columns text-center">




<div class="card mb-4 box-shadow"><div class="card-header"><h4 id="{{ pl[k].get("Car Group")  }} "class="my-0 font-weight-normal">{{ pl[k].get("Vehicle Type")  }}  <br><small class="text-muted">или подобный от <span class="badge badge-success">{{ pl[k].get("Ex. Day (8+)Low")  }} </span> USD/день</small></h4></div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="text-left">Категория: {{ pl[k].get("Car Group")  }}  | Сидений: {{ pl[k].get("Seats")  }} /li>
              <li class="text-left">Увеличенный километраж при заказе 1-2 дней(250км в день уже включены в цену)</li>
            <hr />
              <li class="text-left">Безлимитный километраж при заказе 3-29 дней</li>
              <hr />
              <li class="text-left"><img style="float:left" class="img-responsive" src="../img/'. $sale .'.png" alt="Лучшая цена" /> При заказе 30+ дней от <span class="badge badge-danger">{{ pl[k].get("Month (30+)Low")  }} </span>USD в месяц(в цену включены обязательные страховки и 150км\день)</li>
              <li><img class="img-fluid" src="{{url_for('static', filename='img/CarCategories/[pl[k].get("Car Group")].jpg')}}" alt="аренда авто '. $data[4].' или подобный в Израиле" /> </li>
              <li><br>
                    <img style="float:left" class="img-responsive" src="../img/'. $ratingValue .'.png" alt="Рэйтинг. Аренда авто {{ pl[k].get("Vehicle Type")  }} или подобный в Израиле"  />
                  <img style="float:left" class="img-responsive" src="{{url_for('static', filename='img/star.png')}}" alt="Рэйтинг. Аренда авто '. $data[4].' или подобный в Израиле"  />
             из '. $reviewCount .' на '. date('Y-m-d H:i:s') .'</li>
            <li>
                    </li>
             <li class="text-left">
                <hr />Форма обратной связи:
               <form action="mail_send.php" method="post" id="request-form">
                    <div class="form-group">
                     <div class="col-auto">
                     <input type="text" class="form-control" required  name="name" placeholder="Ваше Имя">
                     </div>
                     <div class="col-auto">
                     <input type="tel" class="form-control" required  name="phone" placeholder="Тел +(код страны-города)ххх-хххх">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="whatsapp" id="whatsapp" value="whatsapp"> WhatsApp &nbsp;&nbsp;
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                      </label>
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="viber" id="viber" value="viber"> Viber
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    </div>
                     <div class="col-auto">
                     <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required id="email" placeholder="Ваша почта">
                     </div>
                     <input type="hidden" name="car-select" value="Car Category: '. $data[0].', '. $data[4].' или подобный">
                    </div>
                    <!-- <div class="col-auto">
                       <div class="g-recaptcha" data-sitekey="6LfFGG8UAAAAAAFZaF847BdJVUJDDjaiJAmMi0BJ"></div>
                    </div> -->
                    <div class="col-auto">
                    <input type="submit" name="submit" value="Отправить">
                    </div>
                </form>
</li>
            </ul>
<!--             <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->


      </div></div>';
            }

        }

    }

 </div>
    {% endfor %}
{% endblock %}