<!doctype html>
<html lang="ru">
    <head>
        <title> {{ title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap-grid.css') }}">
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
    <!-- Navigation -->
<div class="navbar">

<div class="container">

    <div class="navbar-header">

        <!-- Brand -->
        <a href="javascript:void(0);" class="navbar-brand scroll-top"><img class="logo" width="45" height="45" alt="lightning bolt logo" src="http://www.hirecar.xyz/static/img/star.png"></img></a>

        <!-- Mobile Navigation -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="ion-navicon toggle-icon"></span>
        </button>

    </div>

    <!-- Main Navigation -->
    <nav class="collapse navbar-collapse navHeaderCollapse" id="myScrollSpy" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#section1" data-id="section1" class="scroll-link">Home</a></li>
            <li><a href="#section2" data-id="section2" class="scroll-link">Portfolio</a></li>
            <li><a href="#section3" data-id="section3" class="scroll-link">About</a></li>
            <li><a href="#section4" data-id="section4" class="scroll-link">Team</a></li>
            <li><a href="#section5" data-id="section5" class="scroll-link">Services</a></li>
            <li><a href="#section6" data-id="section6" class="scroll-link">Contact</a></li>
        </ul>
    </nav>

</div>

</div>


        {% block content %}{% endblock %}
    <div class="container fa-copyright">
        <p>Copyright © 2014 - {{ now.year }} Vastama ltd аренда автомобиля в Израиле.</p>
    </div>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
        <script src="{{url_for('static', filename='js/vue.js')}}"></script>
    </body>
</html>